{% extends 'base.html' %}
{% load static %}
{% block title %}Архив{% endblock %}
{% block content %}
    <section id="archive_cams_page">
        <div class="archive_page">
            <a href="{% url 'cam_archive' 'entry' %}" class="main_page-chapter_link"><p class="main_page-chapter_text">Архив камеры у главного входа</p></a>
            <a href="{% url 'cam_archive' 'b_entry' %}" class="main_page-chapter_link"><p class="main_page-chapter_text">Архив камеры у входа на заднем дворе</p></a>
        </div>
    </section>
{% endblock %}