{% extends 'base.html' %}
{% load static %}
{% block title %}Онлайн трансляция{% endblock %}
{% block content %}
    {#    <script src="{% static 'js/hls-0.13.0.light.min.js' %}"></script>#}
    <script src="{% static 'js/hls.light.min.js' %}"></script>
    <section id="livecam_page">
        <div class="livecam_page">
            <div class="livecam_page-block">
                <p class="title_livecam">Камера на входной группе</p>
                <video id="cam_entrance_video" class="livecam_video_block-video" muted controls preload="none"></video>
            </div>
        </div>
    </section>
    <script>
        let videoCamEntrance = document.getElementById('cam_entrance_video');
        if (videoCamEntrance) {
            if(Hls.isSupported()) {
                let hls = new Hls();
                hls.on(Hls.Events.Error, function (event, data) {
                    console.log("HLS error: ", event, data);
                });
                hls.attachMedia(videoCamEntrance);
                hls.on(Hls.Events.MEDIA_ATTACHED, function() {
                    hls.loadSource('media/stream/cam_entrance/streaming.m3u8');
                    hls.on(Hls.Events.MANIFEST_PARSED,function() {
                        videoCamEntrance.play();
                    });
                });
            }
            else if (videoCamEntrance.canPlayType('application/vnd.apple.mpegurl')) {
                videoCamEntrance.src = 'media/stream/cam_entrance/streaming.m3u8';
                videoCamEntrance.addEventListener('loadedmetadata',function() {
                    videoCamEntrance.play();
                });
            }
        }
    </script>
{% endblock %}